<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{{ seo_title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/custom.css' %}">
    {% block extra_head %}{% endblock %}
    <meta name="description" content="{{ seo_description }}">
    <meta name="keywords" content="{{ seo_keywords }}">
</head>

<body>
    <div id="menuTrigger" class="fixed-action-btn hide-on-large-only">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">menu</i>
        </a>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col m2 l2 s12">
                <ul id="slide-out" class="sidenav sidenav-fixed blue-grey darken-4">
                    <li>
                        <img src="{% static 'icons/raenity_logo.svg' %}" alt="" class="raenity-logo">
                    </li>
                    <li><a href="{% url 'homepage:index-page-default' %}" class="white-text">Home<i
                        class="material-icons white-text">home</i></a> </li>
                    <li><a href="{% url 'webcampaign:create-web-campaign-url' %}" class="white-text">Web UTM Link Builder<i
                                class="material-icons white-text">link</i></a> </li>
                    <li><a href="{% url 'playcampaign:create-play-campaign-url' %}" class="white-text">Play UTM Link Builder<i
                                class="material-icons white-text">tap_and_play</i></a></li>
                    <li><a href="{% url 'contact_request:create_contact_request' %}" class="white-text">Contact Us<i
                                class="material-icons white-text">mail</i></a></li>
                </ul>

            </div>
            <div class="col m8 l8 s12">
                {% block content %}{% endblock %}
            </div>
            <div class="col m2 l2 s12">

            </div>
        </div>
    </div>
    <div id="urlCreatedModal" class="modal">
        <div class="modal-content">
            <p>
                <strong>Generated URL:</strong>
                <hr />
            <p id="generatedUrl" class="wrapped-url-text"></p>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="waves-effect waves-green btn-flat" id="copyButton">Copy Url</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <div id="formSubmittedModal" class="modal">
        <div class="modal-content">
            <h4>Thank You!</h4>
            <p class="wrapped-url-text">Your contact request has been submitted successfully. We will get in touch with
                you shortly.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'materialize/js/materialize.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
            var btn = document.querySelector('.fixed-action-btn');
            if (btn) {
                btn.addEventListener('click', function () {
                    instances.forEach(element => {
                        element.open();
                    });
                });
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);

            {% if url_created %}
            document.getElementById('generatedUrl').textContent = "{{ generated_url }}";
            var instance = M.Modal.getInstance(document.getElementById('urlCreatedModal'));
            instance.open();
            {% endif %}

            {% if form_submitted %}
            var formSubmittedInstance = M.Modal.getInstance(document.getElementById('formSubmittedModal'));
            formSubmittedInstance.open();
            {% endif %}

            document.getElementById('copyButton').addEventListener('click', function () {
                var copyText = document.getElementById('generatedUrl').textContent;
                navigator.clipboard.writeText(copyText);
                M.toast({ html: 'URL copied to clipboard!' });
            });
        });
    </script>
</body>

</html>